body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/images/backg.jpg");
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav  {
  padding: 40px;
}

.navBar  {
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}
ul {
  /* position: fixed; */
  display: flex;
  font-size: 30px;
  font-family: cursive;
  justify-content: space-between;
  border-bottom: peachpuff;
  /* border-style: double; */
  margin-bottom: 50px;
  
}

/* .navBar {
  position: fixed;
} */

nav a:hover  {
  color: peachpuff;
}

.aaliyah  {
  font-family: cursive;
}

.mx-2  {
  justify-content: flex-end;
  
}

.profile {
  width: 600px;
  height: auto;
  padding: 15px;
  /* border-radius: 50%;
  border-width: 10px; */
  background-color: #e5bbe516;
  border: 6px solid peachpuff;
  margin-left: 100px;
  margin-top: 140px;
}

.about {
  display: flex;
  margin-bottom: 50px;
  margin-top: 120px;
  padding-top: 120px;
  padding-bottom: 150px;
}

.mt-3 {
  border-style: double;
  border-width: 10px;
  border-color: peachpuff;
  background-color: #e5bbe516;
  padding: 30px;
  /* margin-top: 160px; */
  width: 85%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 450px;
}

p  {
  margin-top: 120px;
}

.ContactForm  {
  margin-top: 120px;
  margin-bottom: 450px;
}

form {
  border-style: double;
  border-width: 10px;
  border-color: rgba(131, 201, 187, 0.433);
  background-color: peachpuff;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 450px;
  padding: 90px;
  max-width: 650px;
}

.button {
  background-color:white;
  color:rgba(131, 201, 187, 0.433);
}

.button:hover  {
  background-color: rgba(131, 201, 187, 0.433);
  color: peachpuff;
}

 .footer {
  margin-top: 150px;
  margin-bottom: 20px;
  margin: 250px;
  border-style: double;
  border: peachpuff;
  border-color: peachpuff;
  border-width: 2px;
}

.contactTitle  {
  font-family: cursive;
  font-size:xx-large;
  color: rgba(47, 75, 70, 0.37)
}

.contactLine  {
  font-family: cursive;
  font-size:large;
  color: rgba(47, 75, 70, 0.37);
}
